html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: #ffffff;
  color: #323b42;
  font-family: sans-serif;
}

.off-white {
  background: #faf8f5;
}

h1 {
  font-size: 2.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 3.75rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 2.75rem
}
h3 {
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 33px;
}
h4 {
  font-size: 1.125rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
h5 {
  font-size: 0.875rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
h6 {
  margin: 0;
  font-size: 0.764rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
  color: #ff8585;
}
p {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 21px;
}
.button {
  padding: 0.5rem 1rem;
  color: #ff8585;
  background-color: #ffffff;
  border: 1px solid #ff8585;
  border-radius: 25px;
  transition: color 1s ease, background-color 1s ease;
}
.button:hover {
  color: #ffffff;
  background-color: #ff8585;
}
img {
  padding: 0;
  width: 100%;
  height: auto;
}

section {
  padding: 1rem 3rem;
}

.div-image {
  position: absolute;
  margin-top: -3.5rem;
  width: 5rem;
}

.review-card {
  display: inline-block;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0); */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.review-card p, .quote-citation h4 {
  font-size: 0.8rem;
}
.review-stars {
  width: 4rem;
  height: auto;
}
.review-picture {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 0.5rem;
  width: 4rem;
  height: auto;
}
.quote-citation {
  display: inline-block;
  vertical-align: middle;
}
.quote-citation h4, .quote-citation p  {
  margin: 0;
}
